@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap'); 
 
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}

html {
    width: 100vw;
    height: 100vh;
}

body {
    width: 60vw;
    font-size: 1rem;
}

.picture-right-section {
    display: inline-block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    
}

.hero-desktop {
    height: 100%;
}

.left-section {
    display: inline-block;
    padding: 3.125rem 12.5rem;
    width: 60vw;
}

header, h1, h2, p, footer {
    width: 60%;
}

.titles {
    margin: 12.5rem 0 1.875rem 0;
}

h1 {
    font-weight: 400;
    font-size: 3.75rem;
    width: 48vw;
    text-transform: uppercase;
    letter-spacing: .75rem;
    color: hsl(0, 6%, 24%);
}

h2 {
    font-weight: 600;
    font-size: 60px;
    width: 48vw;
    text-transform: uppercase;
    letter-spacing: 1.25rem;
}

p {
    width: 72%;
    line-height: 1.5rem;
    margin-bottom: 1.875rem;
}

footer {
    width: 100%;
    height: 3.5rem;
}

.email {
    position: fixed ;
    width: 20vw;
    height: 2.8125rem;
    border-radius: 1.875rem;
    z-index: 1;
    border: solid .01rem;
    
}

.email::placeholder {
    padding: 30px;
}

.submit {
    display: inline-block;
    position: relative;
    left: 17vw;
    z-index: 2;
    height: 2.8125rem;
    width: 5.3125rem;
    border-radius: 1.875rem;
    background-color: hsl(0, 93%, 68%);
    border: none;
    cursor: pointer;
    
}
/*.logo {
    display: inline-block;
    position: relative;
    left: 15%;
}

/*## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Desaturated Red: hsl(0, 36%, 70%)
- Soft Red: hsl(0, 93%, 68%)

### Neutral

- Dark Grayish Red: hsl(0, 6%, 24%)

### Gradients

- Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%)
- Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%)

## Typography

### Body Copy

- Font size: 16px